<!DOCTYPE html>
<html lang="en" layout:decorator="layouts/layout">
<head>
</head>
<body>
<div layout:fragment="content">
  <div class="row">
    <div class="well">
      <h2>Account</h2>
      <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd th:text="${account.name}"></dd>
        <dt>Balance</dt>
        <dd th:text="${account.balance}"></dd>
      </dl>
      <dl class="dl-horizontal">
        <form th:action="@{/accounts/{name}/deposit(name=${account.name})}" method="post">
          <div class="form-group">
            <label for="depositAmount">Deposit Amount</label>
            <input  class="form-control" name="amount" id="depositAmount" type="text" placeholder="100.00"/>
          </div>
          <button class="btn btn-primary" type="submit">Deposit</button>
        </form>
      </dl>
      <dl class="dl-horizontal">
        <form th:action="@{/accounts/{name}/withdraw(name=${account.name})}" method="post">
          <div class="form-group">
            <label for="withdrawAmount">Withdraw Amount</label>
            <input  class="form-control" name="amount" id="withdrawAmount" type="text" placeholder="100.00"/>
          </div>
          <button class="btn btn-primary" type="submit">Withdraw</button>
        </form>
      </dl>

    </div>
  </div>
</div>
</body>
</html>
